@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    /*Color*/
    --color-rojo-principal: #700000;
    --color-de-fondo: #191919;
    --color-para-texto: #ffefef;
    --color-para-precio: #00d312;
    --color-para-carrito: #700000;
    --color-borde-carrito: #000000;
    /*TipoGrafia*/
    --font-principal: "The Seasons", serif;
    --font-secundario: "Quattrocento", serif;
    --font-terciario: "Open Sans", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

header{
    background-color: aqua;
}
.menu{
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
}

.productos{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 5%;
}

.productos div{
    background-color: rgb(255, 239, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 400px;
}

.productos div{
    display: flex;
    flex-direction: column;
}

.img-productos{
    border-radius: 20px;
    max-width: 50%;
    height: 50%;
    object-fit: contain;
}

.container-carrito{
    background-color: bisque;
    height: 500px;
    width: 400px;
    position: absolute;
    z-index: 5;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.container-carrito .carrito{
    height: 80%;
}

.container-carrito .h6Total{
    margin: 5px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-carrito button{
    display: block;
    margin: auto;
    width: 50%;
}

.tr-produc{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    box-shadow: 0 0 10px 5px #ffffff;
}

.a-inicio{
    text-decoration: none;
    color: #ffffff;
}

.btn-inicio, button.car{
    cursor: pointer;
}

.img-produc{
    width: 70px;
}

.p-title{
    font-size: 15px;
    color: #ffffff
}

.p-price{
    color: #15ff00;
}

.quatity-car{
    width: 30px;
}

button.delete-car{
    color: rgb(255, 0, 0);
    font-size: 25px;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer; 
}

span#total{
    color: #15ff00;
}

button.btn-carrito{
    background: none;
    border: none;
    border: 1px solid var(--color-para-texto);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #b7d0fd;
    margin-top: 10px;
}

button.btn-carrito:hover{
    cursor: pointer;
    background-color: rgb(154, 154, 154);
}



